@import url("modal.css");

@font-face{
    font-family: "Pretendard-Regular";
    src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

*{
    font-family: "Pretendard-Regular", sans-serif;
    box-sizing: border-box;
}

body, html{
    margin: 0;
    width: 100%;
}

body{
    background: #78d4b0;
}

.wrap{
    margin: 0 auto;
    padding: 32px 100px;
    text-align: center;
}

/* 스크롤바 트랙 (배경) */
::-webkit-scrollbar-track{
    background: transparent;
}

/* 스크롤바 움직이는 부분 (thumb) */
::-webkit-scrollbar-thumb{
    background-color: rgba(200, 200, 200, 0.4); /* 밝은 회색 스크롤바 */
}

/* 스크롤바 모서리 (corner) 없애기 */
::-webkit-scrollbar-corner{
    background: transparent;
}

/* Firefox */
html{
    scrollbar-width: thin;
    scrollbar-color: rgba(200, 200, 200, 0.4) transparent; /* thumb / track */
}