:root{
    --font-size: 16px;
    --font-spacing: 0;
}

#chat-container{
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
}

#chat-container *{
    font-size: var(--font-size);
}

.badge{
    margin-right: 3px;
    width: var(--font-size);
    height: var(--font-size);
}

.emoji{
    width: calc(var(--font-size) + 8px);
    height: calc(var(--font-size) + 8px);
}

.message-box{
    padding: 0 4px;
    line-height: calc(var(--font-size) + 10px); /* 이모지 크기를 맞추기 위해 사용 */
}

.select-notice > .message-box:hover{
    background-color: #414141;
    cursor: pointer;
    border-radius: 6px;
    transition: .35s;
}

.message-box:first-child{
    margin-top: 4px;
}

.message-box + .message-box{
    padding-top: var(--font-spacing);
}

.message-box:last-child{
    margin-bottom: 4px;
}

.message-box *{
    vertical-align: middle;
}

.time{
    color: #c1c1c1;
    padding-right: 5px;
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
}

.message{
    color: white;
}

.hide{
    display: none !important;
}