@import url("ingame.css");
@import url("chat.css");
@import url("sidebar.css");
@import url("leaderboard.css");

:root{
    --panel-spacing: 22px;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    padding: 40px;
    gap: var(--panel-spacing);
}