.side{
    width: 360px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.panel{
    height: 0;
    box-shadow: 0 0 9px 1px #000;
    border-radius: 22px;
    padding: 16px;
    box-sizing: border-box;
    background: #fff;
    display: flex;
    flex-direction: column;
}

.panel + .panel{
    margin-top: var(--panel-spacing);
}

.panel-title{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 6px;
}

.hint-list{
    margin: 0;
    padding-top: 12px;
    padding-left: 32px;
}

.hint-list li{
    font-size: 18px;
    word-break: keep-all;
}